<% include top.ejs %>


  <header>
    <div id="top-row" class="row">
      <div class="small-12 medium-4 columns header-side">
        <img class="top-icon top-left-icon" src="http://openuhclassschedulehelper.github.io/uimockup/eye.svg" alt="bomb"/>
        <img class="top-icon" src="http://plainicon.com/dboard/userprod/2800_a1826/prod_thumb/plainicon.com-46991-256px-a71.png" alt="bomb"/>
        <img class="top-icon top-right-icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Rebel_Alliance_logo.svg/2000px-Rebel_Alliance_logo.svg.png" alt="rebel_alliance"/>
      </div>
      
      <div class="small-12 medium-4 columns">
        <h1 id="title">TSRH</h1>
      </div>
      
      <div id="top-right-wrapper" class="small-12 medium-4 columns header-side">
        <img class="top-icon top-left-icon" src="http://www.polyvore.com/cgi/img-thing?.out=jpg&size=l&tid=34025608" alt="diamond">
        <img class="top-icon" src="http://www.cfgforensics.com/images/icons/investigation_icon.png" alt="bolt">
        <img class="top-icon top-right-icon" src="http://www.wyklejanietablic.pl/cc/icon_927.png" alt="bolt">
      </div>
      </div>
  </header>

<div id="container">
  <div class="contain-to-grid sticky">
  <nav class="top-bar show-for-medium-up" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><a href="#">TSRH</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Left Nav Section -->
      <ul class="left">
        <li><a href="#">Popular Topics</a></li>
        <li class="divider"></li>
        <li class="has-form"><a class="button alert">Submit New</a></li>
      </ul>
     
      <!-- Right Nav Section -->
      <ul class="right">
        <li><a href="#">User Info(2)</a></li>
        <li class="divider"></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </section>
    </div>
  </nav>
  
  <div class="row thread">
    <!-- Icon column  -->
    <div class="medium-1 columns">
      <img class="top-icon top-left-icon" src="http://www.polyvore.com/cgi/img-thing?.out=jpg&size=l&tid=34025608" alt="diamond">
    </div>
    
    <!-- Thread  -->
    <div class="medium-11 columns">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem eum, accusantium perferendis odio! Dolor voluptates laboriosam, odio repellat voluptas, suscipit molestias, culpa mollitia et natus iusto nam nisi impedit totam!</p>
    </div>
    
  </div>
  
 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque ut officia, minima voluptates. Maxime, repudiandae qui error quia optio consectetur excepturi cumque laborum repellendus veniam molestiae debitis amet nam pariatur.</p>
  <p>Piss poo jizz bollocks wee motherfucker bollix dick arse. Piss shit jizzmopper minge fucker twot jizz twot twat poo. Arse bastard twot bloody bloody twot twat motherfucker wanker bloody. Cumbubble fuck fuck asshole fuckstick asshole cumbubble. Poo jizzmopper bollocks bollix bollix jizzmopper bugger cock thundercunt jizzmopper. Ballbag motherfucker minge arse fuckstick jizzmopper. Turd thundercunt piss asshole wee fucker thundercunt twot. Thundercunt ballbag fuck minge turd wee cumbubble shit thundercunt. Jizz cunt bollix fuck fuckstick asshole asshole frig dick cunt fucker. Turd jizz twat piss wanker poo bollocks fucker.</p>
  <p>Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit.  </p>
  <p></p>
 
  
</div>

  <footer>
    <div class="row">
      <div class="small-6 columns  right">
        <h1>Welcome to TSRH</h1>
        <h3>The best place for the most poppin' content on the net</h3>
      </div>
    </div>
  </footer>

  <% include bottom.ejs %>
