<% include top.ejs %>

  <div id="container">

    <div id="container-inner" class="row">
      <div class="small-12 columns">
        <div class="row">
          <div class="contain-to-grid sticky small-12 columns">

            <!--    NAVIGATION BAR   -->
            <nav class="top-bar" role=>
              <ul class="title-area">
                <li class="name">
                  <h1><a href="/">TSRH</a></h1>
                </li>
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
              </ul>
              <section class="top-bar-section">
                <!-- Left Nav Section -->
                <ul class="left">
                  <li><a href="#">Popular Topics</a></li>
                  <li class="divider"></li>
                  <li class="has-form"><a class="button alert" href="/tsrh/new">Submit New</a></li>
                </ul>

                <!-- Right Nav Section -->
                <ul class="right">
                  <li><a href="#">User Info(2)</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Logout</a></li>
                </ul>
              </section>
            </nav>
          </div>
        </div>

        <form action="/tsrh" method="POST">
          <div id="input-top" class="row">
            <div class="small-12 medium-6 columns">
              <label>Author Name
                <input id="thread-input-name" name="author_name" type="text" placeholder="Author Name" />
              </label>
            </div>

            <div class="small-12 medium-6 columns">
              <label for="icon-dropdown">Topic Icon
              	<div id="iconDropDown"></div>
              
<!--
                <select id="iconDropDOwn">
                  <option value="0" data-imagesrc="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Rebel_Alliance_logo.svg/2000px-Rebel_Alliance_logo.svg.png" data-description="Sample Text">Fight The Power</option>
                  <option value="1" data-imagesrc="http://plainicon.com/dboard/userprod/2800_a1826/prod_thumb/plainicon.com-46991-256px-a71.png" data-description="When $hit is blowin up!">Da Bomb</option>
                  <option value="2" selected="selected" data-imagesrc="http://openuhclassschedulehelper.github.io/uimockup/eye.svg" data-description="Be on the lookout...">Keep An Eye Out</option>
                  <option value="3" data-imagesrc="http://www.polyvore.com/cgi/img-thing?.out=jpg&size=l&tid=34025608" data-description="Only the freshest content on the net">Fresh</option>
                  <option value="4" data-imagesrc="http://www.polyvore.com/cgi/img-thing?.out=jpg&size=l&tid=34025608" data-description="Only the freshest content on the net">Lightning</option>
                </select>
-->
              </label>
            </div>
          </div>

          <div class="row">
            <div class="small-12 medium-6 columns">
              <label>Thread Title
                <input id="thread-new-left" name="thread_title" type="text" placeholder="Title" />
              </label>
            </div>

            <div class="small-12 medium-6 columns">
              <label>Subheader
                <input id="thread-new-right" name="thread_subtitle" type="text" placeholder="Subtitle" />
              </label>
            </div>
          </div>

          <!--   Thread Text Input   -->
          <div class="row">
            <div class="medium-1 column">
              <p></p>
            </div>
            <div class="medium-10 columns">
              <fieldset>
                <legend>Your Thread Content</legend>
                <textarea rows="5" name="thread_content" placeholder="enter your main content here"></textarea>
              </fieldset>
            </div>
            <div class="medium-1 column">
              <p></p>
            </div>
          </div>
          
          <div class="row">
          	<div class="small-12 medium-4 medium-centered columns">
							<button class="button alert expand">CREATE NEW POST</button>
          	</div>
          </div>
        </form>

      </div>

      <% include bottom.ejs %>