<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>TSRH</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/foundation.css" />
    <link rel="stylesheet" href="/css/app.css" />
    <script src="/js/vendor/modernizr.js"></script>
  </head>
  <body>
  
  <header>
    <div id="top-row" class="row">
      <div class="small-12 medium-4 columns header-side">
        <img class="top-icon top-left-icon" src="http://openuhclassschedulehelper.github.io/uimockup/eye.svg" alt="bomb"/>
        <img class="top-icon" src="http://plainicon.com/dboard/userprod/2800_a1826/prod_thumb/plainicon.com-46991-256px-a71.png" alt="bomb"/>
        <img class="top-icon top-right-icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Rebel_Alliance_logo.svg/2000px-Rebel_Alliance_logo.svg.png" alt="rebel_alliance"/>
      </div>

      <div class="small-12 medium-4 columns">
        <h1 id="title">TSRH</h1>
      </div>

      <div id="top-right-wrapper" class="small-12 medium-4 columns header-side">
        <img class="top-icon top-left-icon" src="http://www.polyvore.com/cgi/img-thing?.out=jpg&size=l&tid=34025608" alt="diamond">
        <img class="top-icon" src="http://www.cfgforensics.com/images/icons/investigation_icon.png" alt="bolt">
        <img class="top-icon top-right-icon" src="http://www.wyklejanietablic.pl/cc/icon_927.png" alt="bolt">
      </div>
    </div>
  </header>